@model DAERP.Web.Helper.PaginatedList<DAERP.BL.Models.Movements.DeliveryNoteModel>
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid p-3">
    <div class="col-12 col-md-12">
        <div class="row">
            <div class="col-12 col-md-4 col-sm-6"><h2 class="text-primary">04.01.02 - Dodací listy</h2></div>
            <div class="col-12 col-md-4 col-sm-6">
                <a class="btn btn-primary" asp-action="CustomerSelect"><i class="fas fa-plus"></i> Vydat dodací list</a>
            </div>
            <div class="col-12 col-md-4 col-sm-6">
                <form asp-action="Index" method="get">
                    <div class="form-actions no-color">
                        <p>
                            Prohledat dodací listy: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                            <input type="hidden" name="CurrentSort" value="@ViewData["CurrentSort"]" />
                            <input type="submit" value="Filtrovat" class="btn btn-secondary"/> |
                            <a class="btn btn-outline-warning"
                            asp-action="Index"
                            asp-route-currentSort="@ViewData["CurrentSort"]">Zpět na celý seznam</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br />

     @if (Model.Count() > 0)
    {
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <table
                    class="table table-bordered table-striped table-responsive"
                    data-filter-control="true"
                    data-show-search-clear-button="true"
                    style="width:unset;text-align:center;word-wrap:normal">
                       <thead>
                           <tr>
                               <th id="productHeader">
                                   Pohyb
                               </th>
                               <th id="productHeader">
                                   <a asp-action="Index" asp-route-sortOrder="@ViewData["NumberSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                       @Html.DisplayNameFor(model => model.FirstOrDefault().Number)</a>
                               </th>
                               <th id="productHeader">
                                   <a asp-action="Index" asp-route-sortOrder="@ViewData["CustomerDesignationSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                       @Html.DisplayNameFor(model => model.FirstOrDefault().Customer.Designation)</a>
                               </th>
                               <th id="productHeader">
                                   <a asp-action="Index" asp-route-sortOrder="@ViewData["CustomerNameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                       @Html.DisplayNameFor(model => model.FirstOrDefault().Customer.Name)</a>
                               </th>
                               <th id="productHeader">
                                   <a asp-action="Index" asp-route-sortOrder="@ViewData["DateCreatedSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                       @Html.DisplayNameFor(model => model.FirstOrDefault().DateCreated)</a>
                               </th>
                               <th id="productHeader">
                                   <a asp-action="Index" asp-route-sortOrder="@ViewData["ProductDesignationSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                       @Html.DisplayNameFor(model => model.FirstOrDefault().Product.Designation)</a>
                               </th>
                               <th id="productHeader">
                                   <a asp-action="Index" asp-route-sortOrder="@ViewData["ProductProductDivisionNameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                       @Html.DisplayNameFor(model => model.FirstOrDefault().Product.ProductDivision.Name)</a>
                               </th>
                               <th id="productHeader">
                                   <a asp-action="Index" asp-route-sortOrder="@ViewData["StartingAmountSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                       @Html.DisplayNameFor(model => model.FirstOrDefault().StartingAmount)</a> <span class="badge badge-primary badge-pill">@ViewData["AmountSum"]</span>
                               </th>
                               <th id="productHeader">
                                   <a asp-action="Index" asp-route-sortOrder="@ViewData["RemainsSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                       @Html.DisplayNameFor(model => model.FirstOrDefault().Remains)</a> <span class="badge badge-primary badge-pill">@ViewData["AmountSum"]</span>
                               </th>
                               <th id="productHeader">
                                   <a asp-action="Index" asp-route-sortOrder="@ViewData["IssuedInvoicePriceSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                       @Html.DisplayNameFor(model => model.FirstOrDefault().IssuedInvoicePrice)</a>
                               </th>
                               <th id="productHeader">
                                   <a asp-action="Index" asp-route-sortOrder="@ViewData["DeliveryNotePriceSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                       @Html.DisplayNameFor(model => model.FirstOrDefault().DeliveryNotePrice)</a>
                               </th>
                               <th id="productHeader">
                                   <a asp-action="Index" asp-route-sortOrder="@ViewData["ValueWithoutVATSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                       @Html.DisplayNameFor(model => model.FirstOrDefault().ValueWithoutVAT)</a> <span class="badge badge-primary badge-pill">@ViewData["ValueWithoutVATSum"]</span>
                               </th>
                               <th id="productHeader">
                                   <a asp-action="Index" asp-route-sortOrder="@ViewData["ValueWithVATSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                       @Html.DisplayNameFor(model => model.FirstOrDefault().ValueWithVAT)</a> <span class="badge badge-primary badge-pill">@ViewData["ValueWithVATSum"]</span>
                               </th>
                               <th id="productHeader">
                                   <a asp-action="Index" asp-route-sortOrder="@ViewData["RemainValueWithoutVATSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                       @Html.DisplayNameFor(model => model.FirstOrDefault().RemainValueWithoutVAT)</a> <span class="badge badge-primary badge-pill">@ViewData["RemainValueWithoutVATSum"]</span>
                               </th>
                           </tr>
                        </thead>
                        <tbody>
                           @foreach (var deliveryNote in Model)
                           {
                               <tr data-toggle="popover" data-trigger="hover" id="@deliveryNote.Product.Id">
                                   <td>DL</td>
                                   <td>@deliveryNote.Number</td>
                                   <td>@deliveryNote.Customer.Designation</td>
                                   <td>@deliveryNote.Customer.Name</td>
                                   <td>@deliveryNote.DateCreated.ToString("dd.mm.yy")</td>
                                   <td>@deliveryNote.Product.Designation</td>
                                   <td>@deliveryNote.Product.ProductDivision.Name</td>
                                   <td>@deliveryNote.StartingAmount</td>
                                   <td>@deliveryNote.Remains</td>
                                   <td>@deliveryNote.IssuedInvoicePrice</td>
                                   <td>@deliveryNote.DeliveryNotePrice</td>
                                   <td>@deliveryNote.ValueWithoutVAT</td>
                                   <td>@deliveryNote.ValueWithVAT</td>
                                   <td>@deliveryNote.RemainValueWithoutVAT</td>
                               </tr>
                           }
                        </tbody>
                    </table>
                    <div>
                        <div class="row">
                            @{
                                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                            }
                            <div class="col p-2">
                                <a asp-action="Index"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                   class="btn btn-secondary @prevDisabled">
                                   <i class="fas fa-arrow-left"></i>
                                </a>
                                <a asp-action="Index"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                   class="btn btn-secondary @nextDisabled">
                                   <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                   </div>
                </div>
            </div>
        </div>

    }
</div>

