
@model DAERP.Web.Helper.PaginatedList<DAERP.Web.ViewModels.ProductCustomersReadViewModel>
@{
    ViewData["Title"] = "Read";
}

<div class="container-fluid p-3">
    <div class="col-12 col-md-12">
        <div class="row">
            <div class="col-12 col-md-6"><h2 class="text-primary">04.02.01 - Sklad výrobků - stav</h2></div>
                <div class="col-12 col-md-6">
                    <form asp-action="Read" method="get">
                        <div class="form-actions no-color">
                            <p>
                                Prohledat výrobky: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                                <input type="hidden" name="CustomersIds" value="@ViewData["CustomersIds"]" />
                                <input type="hidden" name="CurrentSort" value="@ViewData["CurrentSort"]" />
                                <input type="submit" value="Filtrovat" class="btn btn-secondary"/> |
                                <a class="btn btn-outline-warning"
                                asp-action="Read"
                                asp-route-currentSort="@ViewData["CurrentSort"]"
                                asp-route-customersIds="@ViewData["CustomersIds"]">Zpět na celý seznam</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <br />

     @if (Model.Count() > 0)
    {
        <div>
            <table
            class="table table-bordered table-striped table-responsive"
            data-filter-control="true"
            data-show-search-clear-button="true"
            style="width:unset;text-align:center;word-wrap:normal">
               <thead>
                   <tr>
                       <th id="productHeader" colspan="4">
                           Výrobek
                       </th>
                       <th>
                           Sklad celkem (@ViewData["StockAmountSum"])
                       </th>
                       <th colspan="@Model.FirstOrDefault().CustomerStockAmounts.Count">
                           Odběratelé
                       </th>
                   </tr>
                   <tr>
                       <th id="productHeader">
                           <a asp-action="Read" asp-route-sortOrder="@ViewData["ProductDesignationSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-customersIds="@ViewData["CustomersIds"]">
                               @Html.DisplayNameFor(model => model.FirstOrDefault().Product.Designation)</a>
                       </th>
                       <th id="productHeader">
                           <a asp-action="Read" asp-route-sortOrder="@ViewData["ProductEANSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-customersIds="@ViewData["CustomersIds"]">
                               @Html.DisplayNameFor(model => model.FirstOrDefault().Product.EAN)</a>
                       </th>
                       <th id="productHeader">
                           <a asp-action="Read" asp-route-sortOrder="@ViewData["ProductProductDivisionNameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-customersIds="@ViewData["CustomersIds"]">
                               @Html.DisplayNameFor(model => model.FirstOrDefault().Product.ProductDivision.Name)</a>
                       </th>
                       <th id="productHeader">
                           <a asp-action="Read" asp-route-sortOrder="@ViewData["ProductProductDivisionProductTypeSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-customersIds="@ViewData["CustomersIds"]">
                               @Html.DisplayNameFor(model => model.FirstOrDefault().Product.ProductDivision.ProductType)</a>
                       </th>
                       <th>
                           <a asp-action="Read" asp-route-sortOrder="@ViewData["AmountInSelectedCustomersStocksSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-customersIds="@ViewData["CustomersIds"]">
                               @Html.DisplayNameFor(model => model.FirstOrDefault().AmountInSelectedCustomersStocks)</a>
                       </th>
                   </tr>
                </thead>
                <tbody>
                   @foreach (var productCustomers in Model)
                   {
                       
                       <tr data-toggle="popover" data-trigger="hover" id="@productCustomers.Product.Id">
                           <td>@productCustomers.Product.Designation</td>
                           <td>@productCustomers.Product.EAN</td>
                           <td>@productCustomers.Product.ProductDivision.Name</td>
                           <td>@productCustomers.Product.ProductDivision.ProductType</td>
                           <td>@productCustomers.AmountInSelectedCustomersStocks</td>
                       </tr>
                   }
                </tbody>
            </table>
        </div>
        <div>
            <div class="row">
                @{
                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }
                <div class="col p-2">
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-currentCustomersIdsString="@ViewData["CustomersIds"]"
                       class="btn btn-secondary @prevDisabled">
                       <i class="fas fa-arrow-left"></i>
                    </a>
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-customersIdsString="@ViewData["CustomersIds"]"
                       class="btn btn-secondary @nextDisabled">
                       <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
       </div>
    }
</div>

