@model IEnumerable<DAERP.BL.Models.Product.ProductModel>
@{
    ViewData["Title"] = "Products";
}


<div class="container-fluid p-3">
    <h2 class="text-primary">02.00.02 - Číselník výrobků</h2>
    <br />
    @if (Model.Count() > 0)
   {
       <div>
           <table
            class="table table-bordered table-striped table-responsive"
            data-filter-control="true"
            data-show-search-clear-button="true"
            style="width:unset;text-align:center;word-wrap:normal">
               <thead>
                   <tr>
                       <th rowspan="2" style="vertical-align:middle;width:6%">
                           <a class="btn btn-primary" asp-controller="Product" asp-action="Create">
                               <i class="fas fa-plus"></i>
                           </a>
                       </th>
                       <th id="productHeader" colspan="4">
                           Výrobek
                       </th>
                       <th id="colorDesign" colspan="8">
                           Barevné provedení
                       </th>
                       <th id="strap" colspan="8">
                           Popruh / ucha
                       </th>
                       <th id="motive" rowspan="2" style="vertical-align:middle">
                           Motiv
                       </th>
                       <th id="accessories" rowspan="2" style="vertical-align:middle">
                           Doplňky
                       </th>
                   </tr>
                   <tr>
                       <th id="productHeader">
                           <a asp-action="Index" asp-route-sortOrder="@ViewData["DesignationSortParam"]">@Html.DisplayNameFor(model => model.Designation)</a>
                       </th>
                       <th id="productHeader">EAN</th>
                       <th id="productHeader">
                           <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]">@Html.DisplayNameFor(model => model.ProductDivision.Name)</a>
                       </th>
                       <th id="productHeader">Typ výrobku</th>

                       <th id="colorDesign">Počet</th>
                       <th id="colorDesign">Orientace</th>
                       <th id="colorDesign">RAL</th>
                       <th id="colorDesign">Barva základní části</th>
                       <th id="colorDesign">Vzor</th>
                       <th id="colorDesign">RAL</th>
                       <th id="colorDesign">Barva dna, kapsy</th>
                       <th id="colorDesign">Vzor</th>

                       <th id="strap">Typ</th>
                       <th id="strap">Materiál</th>
                       <th id="strap">Délka [mm]</th>
                       <th id="strap">Šířka [mm]</th>
                       <th id="strap">RAL</th>
                       <th id="strap">Barva</th>
                       <th id="strap">Vzor</th>
                       <th id="strap">Uchycení</th>
                   </tr>
               </thead>

               <tbody>
                   @foreach (var product in Model)
                   {
                       <tr>
                           <td>
                                <div class="row">
                                    <div class="col text-nowrap">
                                        <a asp-controller="Product" asp-action="Update" asp-route-Id="@product.Id" class="btn btn-primary mx-1">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a asp-controller="Product" asp-action="Delete" asp-route-Id="@product.Id" class="btn mx-1 bg-danger">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                     </div>
                                </div>
                           </td>

                           <td>@product.Designation</td>
                           <td>@product.EAN</td>
                           <td>@product.ProductDivision.Name</td>
                           <td>@product.ProductDivision.ProductType</td>

                           <td>@product.ProductColorDesign.Quantity</td>
                           <td>@product.ProductColorDesign.Orientation</td>
                           <td>@product.ProductColorDesign.MainPartRAL</td>
                           <td>@product.ProductColorDesign.MainPartColorName</td>
                           <td style="background-color:@product.ProductColorDesign.MainPartColorHex"></td>
                           <td>@product.ProductColorDesign.PocketRAL</td>
                           <td>@product.ProductColorDesign.PocketColorName</td>
                           <td style="background-color:@product.ProductColorDesign.PocketColorHex"></td>

                           <td>@product.ProductStrap.Type</td>
                           <td>@product.ProductStrap.Material</td>
                           <td>@product.ProductStrap.Length</td>
                           <td>@product.ProductStrap.Width</td>
                           <td>@product.ProductStrap.RAL</td>
                           <td>@product.ProductStrap.ColorName</td>
                           <td style="background-color:@product.ProductStrap.ColorHex"></td>
                           <td>@product.ProductStrap.Attachment</td>

                           <td>@product.Motive</td>
                           <td>@product.Accessories</td>
                       </tr>
                   }

               </tbody>

           </table>
       </div>
   }
</div>