@model DAERP.Web.Helper.PaginatedList<DAERP.BL.Models.Product.ProductModel>
@{
    ViewData["Title"] = "Products";
}


<div class="container-fluid p-3">
    <div class="col-12 col-md-12">
        <div class="row">
            <div class="col-12 col-md-6"><h2 class="text-primary">02.00.02 - Číselník výrobků</h2></div>
                <div class="col-12 col-md-6">
                    <form asp-action="Index" method="get">
                        <div class="form-actions no-color">
                            <p>
                                Prohledat výrobky: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                                <input type="hidden" name="CurrentSort" value="@ViewData["CurrentSort"]" />
                                <input type="submit" value="Filtrovat" class="btn btn-secondary"/> |
                                <a class="btn btn-outline-warning" asp-action="Index" asp-route-currentSort="@ViewData["CurrentSort"]">Zpět na celý seznam</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <br />
    @if (Model.Count() > 0)
   {
       <div>
           <table
            class="table table-bordered table-striped table-responsive"
            data-filter-control="true"
            data-show-search-clear-button="true"
            style="width:unset;text-align:center;word-wrap:normal">
               <thead>
                   <tr>
                       <th rowspan="2" style="vertical-align:middle;width:6%">
                           <a class="btn btn-primary" asp-controller="Product" asp-action="Create">
                               <i class="fas fa-plus"></i>
                           </a>
                       </th>
                       <th id="productHeader" colspan="4">
                           Výrobek
                       </th>
                       <th id="colorDesign" colspan="8">
                           Barevné provedení
                       </th>
                       <th id="strap" colspan="8">
                           Popruh / ucha
                       </th>
                       <th id="motive" rowspan="2" style="vertical-align:middle">
                           <a asp-action="Index" asp-route-sortOrder="@ViewData["MotiveSortParam"]">@Html.DisplayNameFor(model => model.FirstOrDefault().Motive)</a>
                       </th>
                       <th id="accessories" rowspan="2" style="vertical-align:middle">
                           <a asp-action="Index" asp-route-sortOrder="@ViewData["AccessoriesSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.FirstOrDefault().Accessories)</a>
                       </th>
                   </tr>
                   <tr>
                       <th id="productHeader">
                           <a asp-action="Index" asp-route-sortOrder="@ViewData["DesignationSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.FirstOrDefault().Designation)</a>
                       </th>
                       <th id="productHeader">
                           <a asp-action="Index" asp-route-sortOrder="@ViewData["EANSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.FirstOrDefault().EAN)</a>
                       </th>
                       <th id="productHeader">
                           <a asp-action="Index" asp-route-sortOrder="@ViewData["ProductDivisionNameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.FirstOrDefault().ProductDivision.Name)</a>
                       </th>
                       <th id="productHeader">
                           <a asp-action="Index" asp-route-sortOrder="@ViewData["ProductDivisionProductTypeSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.FirstOrDefault().ProductDivision.ProductType)</a>
                       </th>

                       <th id="colorDesign">
                           <a asp-action="Index" asp-route-sortOrder="@ViewData["ProductColorDesignQuantitySortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.FirstOrDefault().ProductColorDesign.Quantity)</a>
                       </th>
                       <th id="colorDesign">
                           <a asp-action="Index" asp-route-sortOrder="@ViewData["ProductColorDesignOrientationSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.FirstOrDefault().ProductColorDesign.Orientation)</a>
                       </th>
                       <th id="colorDesign">
                           <a asp-action="Index" asp-route-sortOrder="@ViewData["ProductColorDesignMainPartRALSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.FirstOrDefault().ProductColorDesign.MainPartRAL)</a>
                       </th>
                       <th id="colorDesign">
                           <a asp-action="Index" asp-route-sortOrder="@ViewData["ProductColorDesignMainPartColorNameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.FirstOrDefault().ProductColorDesign.MainPartColorName)</a>
                       </th>
                       <th id="colorDesign">Vzor</th>
                       <th id="colorDesign">
                           <a asp-action="Index" asp-route-sortOrder="@ViewData["ProductColorDesignPocketRALSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.FirstOrDefault().ProductColorDesign.PocketRAL)</a>
                       </th>
                       <th id="colorDesign">
                           <a asp-action="Index" asp-route-sortOrder="@ViewData["ProductColorDesignPocketColorNameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.FirstOrDefault().ProductColorDesign.PocketColorName)</a>
                       </th>
                       <th id="colorDesign">Vzor</th>

                       <th id="strap">
                           <a asp-action="Index" asp-route-sortOrder="@ViewData["ProductStrapTypeSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.FirstOrDefault().ProductStrap.Type)</a>
                       </th>
                       <th id="strap">
                           <a asp-action="Index" asp-route-sortOrder="@ViewData["ProductStrapMaterialSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.FirstOrDefault().ProductStrap.Material)</a>
                       </th>
                       <th id="strap">
                           <a asp-action="Index" asp-route-sortOrder="@ViewData["ProductStrapLengthSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.FirstOrDefault().ProductStrap.Length)</a>
                       </th>
                       <th id="strap">
                           <a asp-action="Index" asp-route-sortOrder="@ViewData["ProductStrapWidthSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.FirstOrDefault().ProductStrap.Width)</a>
                       </th>
                       <th id="strap">
                           <a asp-action="Index" asp-route-sortOrder="@ViewData["ProductStrapRALSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.FirstOrDefault().ProductStrap.RAL)</a>
                       </th>
                       <th id="strap">
                           <a asp-action="Index" asp-route-sortOrder="@ViewData["ProductStrapColorNameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.FirstOrDefault().ProductStrap.ColorName)</a>
                       </th>
                       <th id="strap">Vzor</th>
                       <th id="strap">
                           <a asp-action="Index" asp-route-sortOrder="@ViewData["ProductStrapAttachmentSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.FirstOrDefault().ProductStrap.Attachment)</a>
                       </th>
                   </tr>
               </thead>

               <tbody>
                   @foreach (var product in Model)
                   {
                       <tr>
                           <td>
                                <div class="row">
                                    <div class="col text-nowrap">
                                        <a asp-controller="Product" asp-action="Update" asp-route-Id="@product.Id" class="btn btn-primary mx-1">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a asp-controller="Product" asp-action="Delete" asp-route-Id="@product.Id" class="btn mx-1 bg-danger">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                     </div>
                                </div>
                           </td>

                           <td>@product.Designation</td>
                           <td>@product.EAN</td>
                           <td>@product.ProductDivision.Name</td>
                           <td>@product.ProductDivision.ProductType</td>

                           <td>@product.ProductColorDesign.Quantity</td>
                           <td>@product.ProductColorDesign.Orientation</td>
                           <td>@product.ProductColorDesign.MainPartRAL</td>
                           <td>@product.ProductColorDesign.MainPartColorName</td>
                           <td style="background-color:@product.ProductColorDesign.MainPartColorHex"></td>
                           <td>@product.ProductColorDesign.PocketRAL</td>
                           <td>@product.ProductColorDesign.PocketColorName</td>
                           <td style="background-color:@product.ProductColorDesign.PocketColorHex"></td>

                           <td>@product.ProductStrap.Type</td>
                           <td>@product.ProductStrap.Material</td>
                           <td>@product.ProductStrap.Length</td>
                           <td>@product.ProductStrap.Width</td>
                           <td>@product.ProductStrap.RAL</td>
                           <td>@product.ProductStrap.ColorName</td>
                           <td style="background-color:@product.ProductStrap.ColorHex"></td>
                           <td>@product.ProductStrap.Attachment</td>

                           <td>@product.Motive</td>
                           <td>@product.Accessories</td>
                       </tr>
                   }

               </tbody>

           </table>
       </div>
       <div>
            <div class="row">
                @{
                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }
                <div class="col p-2">
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-secondary @prevDisabled">
                       <i class="fas fa-arrow-left"></i>
                    </a>
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-secondary @nextDisabled">
                       <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
       </div>
   }
</div>