@model IEnumerable<DAERP.BL.Models.EshopModel>

<div class="container-fluid p-3">
    <h2 class="text-primary">01.00.02 - Číselník eshopů</h2>
    <br />
   <div>
       <table class="table table-bordered table-striped table-responsive" style="width:unset;text-align:center;word-wrap:normal">
           <thead>
               <tr>
                   <th rowspan="2" style="vertical-align:middle;width:6%">
                       <a class="btn btn-primary" asp-controller="Eshop" asp-action="Create">
                           <i class="fas fa-plus"></i>
                       </a>
                   </th>
                   <th id="productHeader" colspan="9">
                       Eshop
                   </th>
                   <th id="colorDesign" colspan="7">
                       Sídlo firmy
                   </th>
                   <th id="strap" colspan="4">
                       Hlavní nastavení
                   </th>
                   <th id="colorDesign" colspan="11">
                       Smlouva
                   </th>
                   <th id="productHeader" rowspan="2" style="vertical-align:middle">
                       @Html.LabelFor(m => m.FirstOrDefault().Comment)
                   </th>
               </tr>
               <tr>
                   <th id="productHeader" style="min-width: 100px;">@Html.LabelFor(m => m.FirstOrDefault().Designation)</th>
                   <th id="productHeader" style="min-width: 200px;">@Html.LabelFor(m => m.FirstOrDefault().Code)</th>
                   <th id="productHeader">@Html.LabelFor(m => m.FirstOrDefault().State)</th>
                   <th id="productHeader" style="min-width: 150px;">@Html.LabelFor(m => m.FirstOrDefault().Name)</th>
                   <th id="productHeader" style="min-width: 150px;">@Html.LabelFor(m => m.FirstOrDefault().Web)</th>
                   <th id="productHeader">@Html.LabelFor(m => m.FirstOrDefault().ContactPerson)</th>
                   <th id="productHeader">@Html.LabelFor(m => m.FirstOrDefault().Phone)</th>
                   <th id="productHeader" style="min-width: 150px;">@Html.LabelFor(m => m.FirstOrDefault().Mobile)</th>
                   <th id="productHeader" style="min-width: 150px;">@Html.LabelFor(m => m.FirstOrDefault().Email)</th>

                   <th id="colorDesign">@Html.LabelFor(m => m.FirstOrDefault().SFName)</th>
                   <th id="colorDesign" style="min-width: 150px;">@Html.LabelFor(m => m.FirstOrDefault().SFStreetAndNo)</th>
                   <th id="colorDesign" style="min-width: 100px;">@Html.LabelFor(m => m.FirstOrDefault().SFZIP)</th>
                   <th id="colorDesign">@Html.LabelFor(m => m.FirstOrDefault().SFCity)</th>
                   <th id="colorDesign">@Html.LabelFor(m => m.FirstOrDefault().SFCountry)</th>
                   <th id="colorDesign">@Html.LabelFor(m => m.FirstOrDefault().SFIN)</th>
                   <th id="colorDesign">@Html.LabelFor(m => m.FirstOrDefault().SFTIN)</th>

                   <th id="strap">@Html.LabelFor(m => m.FirstOrDefault().FVDiscountPercentValue)</th>
                   <th id="strap">@Html.LabelFor(m => m.FirstOrDefault().Maturity)</th>
                   <th id="strap">@Html.LabelFor(m => m.FirstOrDefault().CurrencyCode)</th>
                   <th id="strap">@Html.LabelFor(m => m.FirstOrDefault().RoundPriceWithVAT)</th>

                   <th id="colorDesign">@Html.LabelFor(m => m.FirstOrDefault().ContractDANumber)</th>
                   <th id="colorDesign">@Html.LabelFor(m => m.FirstOrDefault().ContractONumber)</th>
                   <th id="colorDesign">@Html.LabelFor(m => m.FirstOrDefault().ContractContent)</th>
                   <th id="colorDesign">@Html.LabelFor(m => m.FirstOrDefault().ContractPoPro)</th>
                   <th id="colorDesign">@Html.LabelFor(m => m.FirstOrDefault().ContractPoUm)</th>
                   <th id="colorDesign">@Html.LabelFor(m => m.FirstOrDefault().ContractDateSigned)</th>
                   <th id="colorDesign">@Html.LabelFor(m => m.FirstOrDefault().ContractDateFrom)</th>
                   <th id="colorDesign">@Html.LabelFor(m => m.FirstOrDefault().ContractDateTo)</th>
                   <th id="colorDesign">@Html.LabelFor(m => m.FirstOrDefault().ContractRent)</th>
                   <th id="colorDesign">@Html.LabelFor(m => m.FirstOrDefault().ContractPeriod)</th>
                   <th id="colorDesign">@Html.LabelFor(m => m.FirstOrDefault().ContractProvisionPercentValue)</th>
               </tr>
            </thead>
            @if (Model.Count() > 0)
            {
                <tbody>
                    @foreach (var eshop in Model)
                    {
                        <tr>
                            <td>
                            <div class="row">
                                <div class="col text-nowrap">
                                    <a asp-controller="Eshop" asp-action="Update" asp-route-Id="@eshop.Id" class="btn btn-primary mx-1">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a asp-controller="Eshop" asp-action="Delete" asp-route-Id="@eshop.Id" class="btn mx-1 bg-danger">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                    </div>
                            </div>
                        </td>
                        <td>@eshop.Designation</td>
                        <td>@eshop.Code</td>
                        <td>@eshop.State</td>
                        <td>@eshop.Name</td>
                        <td>@eshop.Web</td>
                        <td>@eshop.ContactPerson</td>
                        <td>@eshop.Phone</td>
                        <td>@eshop.Mobile</td>
                        <td>@eshop.Email</td>

                        <td>@eshop.SFName</td>
                        <td>@eshop.SFStreetAndNo</td>
                        <td>@eshop.SFZIP</td>
                        <td>@eshop.SFCity</td>
                        <td>@eshop.SFCountry</td>
                        <td>@eshop.SFIN</td>
                        <td>@eshop.SFTIN</td>

                        <td>@eshop.FVDiscountPercentValue</td>
                        <td>@eshop.Maturity</td>
                        <td>@eshop.CurrencyCode</td>
                        <td>@eshop.RoundPriceWithVAT</td>

                        <td>@eshop.ContractDANumber</td>
                        <td>@eshop.ContractONumber</td>
                        <td>@eshop.ContractContent</td>
                        <td>@eshop.ContractPoPro</td>
                        <td>@eshop.ContractPoUm</td>
                        <td>@eshop.ContractDateSigned</td>
                        <td>@eshop.ContractDateFrom</td>
                        <td>@eshop.ContractDateTo</td>
                        <td>@eshop.ContractRent</td>
                        <td>@eshop.ContractPeriod</td>
                        <td>@eshop.ContractProvisionPercentValue</td>

                        <td>@eshop.Comment</td>
                    </tr>
                }
            </tbody>
            }
        </table>
   </div>
</div>